{% if data %} {% for pokemon in data %}
<div
  class="card"
  data-name="{{ pokemon.name|lower }}"
  onclick="openModal('{{ loop.index0 }}')"
>
  <img src="{{ pokemon.image }}" alt="{{ pokemon.name }}" />
  <h2>#{{ pokemon.Number }} {{ pokemon.Name }}</h2>
  <p>
    <strong>Type:</strong>
    {% for type in pokemon.Type %}
    <span class="type-badge {{ type.lower() }}">{{ type }}</span>
    {% endfor %}
  </p>
  <div class="stats">
    <p><strong>HP:</strong> {{ pokemon.HP }}</p>
    <p><strong>Attack:</strong> {{ pokemon.Attack }}</p>
    <p><strong>Defense:</strong> {{ pokemon.Defense }}</p>
    <p><strong>Sp. Atk:</strong> {{ pokemon['Sp. Atk'] }}</p>
    <p><strong>Sp. Def:</strong> {{ pokemon['Sp. Def'] }}</p>
    <p><strong>Speed:</strong> {{ pokemon.Speed }}</p>
  </div>
</div>
<dialog id="modal-{{ loop.index0 }}" class="pokemon-modal">
  <button class="close-button" onclick="closeModal('{{ loop.index0 }}')">
    X
  </button>
  <img src="{{ pokemon.image }}" alt="{{ pokemon.name }}" class="modal-image" />
  <h2>#{{ pokemon.Number }} {{ pokemon.Name }}</h2>
  <p>{{ pokemon.Description }}</p>
  <div class="modal-info">
    <p><strong>Species:</strong> {{ pokemon.Species or 'N/A' }}</p>
    <p><strong>Height:</strong> {{ pokemon.Height or 'N/A' }}</p>
    <p><strong>Weight:</strong> {{ pokemon.Weight or 'N/A' }}</p>
    <p>
      <strong>Type:</strong>
      <span class="type-container">
        {% for type in pokemon.Type %}
        <span class="type-badge {{ type.lower() }}">{{ type }}</span>
        {% endfor %}
      </span>
    </p>
  </div>
  <div class="modal-stats">
    <p><strong>HP:</strong> {{ pokemon.HP or 'N/A' }}</p>
    <p><strong>Attack:</strong> {{ pokemon.Attack or 'N/A' }}</p>
    <p><strong>Defense:</strong> {{ pokemon.Defense or 'N/A' }}</p>
    <p><strong>Sp. Atk:</strong> {{ pokemon['Sp. Atk'] or 'N/A' }}</p>
    <p><strong>Sp. Def:</strong> {{ pokemon['Sp. Def'] or 'N/A' }}</p>
    <p><strong>Speed:</strong> {{ pokemon.Speed or 'N/A' }}</p>
  </div>
</dialog>
{% endfor %} {% else %}
<h2>No Result</h2>
{% endif %}
