<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jersey+10&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/loading.css" />
    <title>Pokédex</title>
    <link rel="stylesheet" href="../css/pokemon_page.css" />
  </head>
  <body>
    <nav>
      <a href="../index.html" class="back-button">
        <span class="back-text">&lt; back</span>
      </a>
      <h1>Pokédex</h1>
      <div class="center-container">
        <form action="/pokemon-list" method="get">
          <input
            type="text"
            id="searchInput"
            name="query"
            placeholder="Search with Regex"
          />
          <button class="style_button" type="submit">Query</button>
        </form>
      </div>
      <h2 id="query"></h2>
    </nav>
    <div class="card_container" id="pokemon-list">
      <div class="loading">
        <div class="spinner"></div>
        <p>Loading Pokémon Result</p>
      </div>
    </div>
    <script src="../js/pokemon_page.js"></script>
  </body>
</html>
