<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User List - PokéCrawler</title>
    <link rel="stylesheet" href="./css/app.css" />
    <link rel="stylesheet" href="./css/user_list.css" />
  </head>
  <body>
    <header class="header">
      <h1>User List</h1>
      <a href="../index.html" class="back-button">&lt; back</a>
    </header>

    <main class="main-content">
      <div class="user-list">
        <div class="user-item">
          <span class="name">นายธีรวีร์ ทองธนาเดช</span>
          <span class="student-id">67010449</span>
        </div>
        <div class="user-item">
          <span class="name">นายปรเมศวร์ โรจน์หล่อสกุล</span>
          <span class="student-id">67010534</span>
        </div>
        <div class="user-item">
          <span class="name">นายพัชรพล คำพิชิต</span>
          <span class="student-id">67010621</span>
        </div>
        <div class="user-item">
          <span class="name">นายภคิน คลอดเพ็ง</span>
          <span class="student-id">67010674</span>
        </div>
        <div class="user-item">
          <span class="name">นายภูดิท จันทร์แจ้ง</span>
          <span class="student-id">67010715</span>
        </div>
        <div class="user-item">
          <span class="name">นายรัชพล รูปประดิษฐ</span>
          <span class="student-id">67010770</span>
        </div>
        <div class="user-item">
          <span class="name">นายวิริทธิ์พล รอดเงิน</span>
          <span class="student-id">67010848</span>
        </div>
        <div class="user-item">
          <span class="name">นายศิวกร ทิตระกูล</span>
          <span class="student-id">67010888</span>
        </div>
        <div class="user-item">
          <span class="name">นายสรวิศ เพชรพิบูลย์ไทย</span>
          <span class="student-id">67010926</span>
        </div>
        <div class="user-item">
          <span class="name">นายพศวีร์ พูนทรัพย์</span>
          <span class="student-id">67011501</span>
        </div>
        <div class="user-item">
          <span class="name">นายอชิรวิชญ์ วนาสินชัย</span>
          <span class="student-id">67011679</span>
        </div>
      </div>
    </main>
    <footer class="footer">&copy; 2025 PokéCrawler</footer>
  </body>
</html>
